{%extends 'IntranetBundle:Default:intranet.html.twig'%}

{% block contenido %}

    <div class="page-container">
        <!-- BEGIN PAGE HEADER-->
        <div class="row col-md-12">
            <div class="">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{{ path('intranet_homepage') }}">
                            Intranet
                        </a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{{ path('noticias') }}">
                            Gestionar Noticias
                        </a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{{ path('noticias_edit', { 'id': entity.id})}}">
                            Modificar Noticia
                        </a>
                    </li>

                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- Begin: life time stats -->
        <div class="row col-md-5">
            <div class="portlet box green ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-user"></i>Modificar Noticia
                    </div>
                    <div class="caption">
                        <div class="caption">


                        </div>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>

                    </div>
                </div>
                <div class="portlet-body">

                    <div class="tab-content">
                        <div class="tab-pane active" id="overview_1">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <tbody>

                                    <tr>
                                        <th>Título</th>

                                        <td> {{ form_start(edit_form) }}
                                            {{form_errors(edit_form.titulo)}}
                                            {{ form_widget(edit_form.titulo ,{'attr':{'class':'form-control input-medio','id':'tamano','type':'text','placeholder':'Default Input','autocomplete':'off','name':'username'} }) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Fecha</th>

                                        <td> {{ form_start(edit_form) }}
                                            {{form_errors(edit_form.fecha)}}
                                            {{ form_widget(edit_form.fecha ,{'attr':{'class':'form-control input-medio','id':'tamano','type':'text','placeholder':'Default Input','autocomplete':'off','name':'username'} }) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Fuente</th>

                                        <td> {{ form_start(edit_form) }}
                                            {{form_errors(edit_form.fuente)}}
                                            {{ form_widget(edit_form.fuente ,{'attr':{'class':'form-control input-medio','id':'tamano','type':'text','placeholder':'Default Input','autocomplete':'off','name':'username'} }) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Dirección de la Fuente</th>

                                        <td> {{ form_start(edit_form) }}
                                            {{form_errors(edit_form.dirfuente)}}
                                            {{ form_widget(edit_form.dirfuente ,{'attr':{'class':'form-control input-medio','id':'tamano','type':'text','placeholder':'Default Input','autocomplete':'off','name':'username'} }) }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Descripción</th>
                                        <td> {{ form_start(edit_form) }}
                                            {{form_errors(edit_form.descripcion)}}
                                            {{ form_widget(edit_form.descripcion ,{'attr':{'class':'form-control input-medio','id':'tamano','type':'text','placeholder':'Default Input','autocomplete':'off','name':'username'} }) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Foto</th>
                                        <td> {{ form_start(edit_form) }}
                                            {{form_errors(edit_form.foto)}}
                                            {{ form_widget(edit_form.foto ,{'attr':{'class':'form-control input-medio','id':'tamano','type':'text','placeholder':'Default Input','autocomplete':'off','name':'username'} }) }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <td>
                                    <div class="-align-justify">
                                        <a href="{{ path('noticias', { 'id': entity.id}) }}" class="btn blue">Volver a la lista</a>

                                        {{ form_start(edit_form) }}

                                        {{ form_widget(edit_form.submit,{'attr':{'class':'btn yellow '}}) }}
                                        {{ form_end(edit_form) }}

                                        <div class="caption pull-rigth">
                                            {{ form_start(delete_form) }}

                                            {{ form_widget(delete_form.submit,{'attr':{'class':'btn red '}}) }}
                                            {{ form_end(delete_form) }}
                                        </div>
                                    </div>
                                </td>
                                </tr>


                                </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->



        <ul>

        </ul>
    </div>







    <div class="container">



        <div class="clearfix"></div>


    </div>
    <br>  </br>
    <br>  </br>
    <br>  </br>
    <br>  </br>


    {% block pie %}

        <div style="background: #62707f" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 space-mobile">
                        <!-- BEGIN ABOUT -->
                        <h2>Acerca de Nosotros</h2>
                        <p>Vivamus imperdiet felis consectetur onec eget orci adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                        <div class="clearfix"></div>
                        <!-- END ABOUT -->
                    </div>
                    <div class="col-md-4 col-sm-4 space-mobile">
                        <!-- BEGIN CONTACTS -->
                        <h2>Contáctenos</h2>
                        <address>
                            Empresa de Componentes Electrónicos<br />
                            Carretera Aereopuerto Alvaro Barba, Km 1.5 <br />
                            Pinar del Rio, PR 20100. Cuba <br />
                            P: (+53) 48-762746 <br />
                            Email: <a href="mailto:mkt@ccepr.co.cu">mkt@ccepr.co.cu</a>
                        </address>
                        <!-- END CONTACTS -->
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN SUBSCRIBE -->
                        <h2>Nuestras noticias</h2>
                        <p>Suscribase a nuestras noticias y permanezca informado acerca de nosotros.</p>
                        <form action="#" class="form-subscribe">
                            <div class="input-group input-large">
                                <input class="form-control" type="text">
                            <span class="input-group-btn">
                                <button class="btn theme-btn" type="button">SUSCRIBIR</button>
                            </span>
                            </div>
                        </form>
                        <!-- END SUBSCRIBE -->
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}


{% endblock %}