{%extends 'IntranetBundle:Default:intranet.html.twig'%}



  {% block contenido %}
      <div class="page-container">
          <!-- BEGIN PAGE HEADER-->
          <div class="row col-md-12">
              <div class="">
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                  <ul class="page-breadcrumb breadcrumb">
                      <li>
                          <i class="fa fa-home"></i>
                          <a href="{{ path('intranet_homepage') }}">
                              Intranet
                          </a>
                          <i class="fa fa-angle-right"></i>
                      </li>
                      <li>
                          <a href="{{ path('usuario') }}">
                              Gestionar Usuario
                          </a>
                          <i class="fa fa-angle-right"></i>
                      </li>
                      <li>
                          <a href="{{ path('usuario') }}">
                              Lista de Usuarios
                          </a>
                      </li>

                  </ul>
                  <!-- END PAGE TITLE & BREADCRUMB-->
              </div>
          </div>
          <!-- END PAGE HEADER-->
          <!-- Begin: life time stats -->
          <div class="row col-md-3 ">
          </div>
          <div class="row col-md-8">
              <div class="portlet box green ">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="glyphicon glyphicon-user"></i>Listado de Usuarios
                      </div>
                      <div class="caption">
                          <div class="caption">


                          </div>
                      </div>
                      <div class="tools">
                          <a href="javascript:;" class="collapse">
                          </a>

                      </div>
                  </div>
                  <div class="portlet-body">

                      <div class="tab-content">
                          <div class="tab-pane active" id="overview_1">
                              <div class="table-responsive">
                                  <table class="table table-striped table-hover table-bordered">
                                      <thead>
                                      <tr>


                                          <th>Carne de Identidad</th>
                                          <th>Nombre</th>
                                          <th>Apellidos</th>

                                          <th>Direcci칩n de Correo</th>
                                          <th>Direcci칩n</th>
                                          <th>Acciones</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% for entity in entities %}
                                          <tr>

                                              <td>{{ entity.carnet }}</td>
                                              <td>{{ entity.nombre }}</td>
                                              <td>{{ entity.apellidos }}</td>

                                              <td>{{ entity.email }}</td>
                                              <td>{{ entity.direccion }}</td>

                                              <td>
                                                  <div class="-align-justify">
                                                      <a href="{{ path('usuario_show', { 'id': entity.id}) }}" class="btn blue">Mostrar</a>


                                                      <a href="{{ path('usuario_edit', { 'id': entity.id}) }}" class="btn yellow">Editar</a>
                                                  </div>
                                              </td>
                                          </tr>

                                      {% endfor %}

                                      </tbody>
                                  </table>
                              </div>
                              <ul>

                                  <a href="{{ path('usuario_new') }}" class="btn green"><i class="fa fa-plus"></i>
                                      Crear un nuevo usuario
                                  </a>




                              </ul>

                          </div>

                      </div>
                  </div>
              </div>
          </div>
          <!-- End: life time stats -->



      </div>

      <div class="container">



          <div class="clearfix"></div>


      </div>
      <br>  </br>
      <br>  </br>
      <br>  </br>
      <br>  </br>


      {% block pie %}

          <div style="background: #62707f" class="footer">
              <div class="container">
                  <div class="row">
                      <div class="col-md-4 col-sm-4 space-mobile">
                          <!-- BEGIN ABOUT -->
                          <h2>Acerca de Nosotros</h2>
                          <p>Vivamus imperdiet felis consectetur onec eget orci adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                          <div class="clearfix"></div>
                          <!-- END ABOUT -->
                      </div>
                      <div class="col-md-4 col-sm-4 space-mobile">
                          <!-- BEGIN CONTACTS -->
                          <h2>Cont치ctenos</h2>
                          <address>
                              Empresa de Componentes Electr칩nicos<br />
                              Carretera Aereopuerto Alvaro Barba, Km 1.5 <br />
                              Pinar del Rio, PR 20100. Cuba <br />
                              P: (+53) 48-762746 <br />
                              Email: <a href="mailto:mkt@ccepr.co.cu">mkt@ccepr.co.cu</a>
                          </address>
                          <!-- END CONTACTS -->
                      </div>
                      <div class="col-md-4 col-sm-4">
                          <!-- BEGIN SUBSCRIBE -->
                          <h2>Nuestras noticias</h2>
                          <p>Suscribase a nuestras noticias y permanezca informado acerca de nosotros.</p>
                          <form action="#" class="form-subscribe">
                              <div class="input-group input-large">
                                  <input class="form-control" type="text">
                            <span class="input-group-btn">
                                <button class="btn theme-btn" type="button">SUSCRIBIR</button>
                            </span>
                              </div>
                          </form>
                          <!-- END SUBSCRIBE -->
                      </div>
                  </div>
              </div>
          </div>

      {% endblock %}

  {% endblock %}