<!DOCTYPE html>

<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.1.1
Version: 2.0.2
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>EICMA</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assetss/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assetss/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assetss/plugins/uniform/css/uniform.default.css')}}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assetss/plugins/select2/select2.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assetss/plugins/select2/select2-metronic.css')}}"/>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset('assetss/css/style-metronic.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assetss/css/style.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assetss/css/style-responsive.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assetss/css/plugins.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assetss/css/themes/default.css')}}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset('assetss/css/pages/login-soft.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assetss/css/custom.css')}}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico')}}"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">

</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <h3 class="form-title text-danger">Iniciar Sesión</h3>

    <div class="form-group">



        <label class="control-label text-danger ">{% if error %}
                {{ error|trim('.')|trans({}, 'FOSUserBundle') }}
            {% endif %}</label>


        <form class="login-form" action="{{ path('fos_user_security_check') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" /> <button class="close" data-close="alert"> </button>


            <div class="form-group">
                <label  class="control-label visible-ie8 visible-ie9" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input  class="form-control placeholder-no-fix"  autocomplete="on" placeholder="Usuario" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input  class="form-control placeholder-no-fix"  autocomplete="off" placeholder="Contraseña" type="password" id="password" name="_password" required="required" />
                </div>
            </div>
            <div class="form-actions">
                <button  class="btn blue pull-right" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
                    Iniciar <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>


        </form>










    </div>
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright down">
    <h4>2017 &copy; Empresa de Informática y Comunicaciones del MINAG.</h4>
</div>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ assets('assetss/plugins/respond.min.js')}}" ></script>
<script src="{{ assets('assetss/plugins/excanvas.min.js')}}"  ></script>
<![endif]-->
<script src="{{ asset('assetss/plugins/jquery-1.10.2.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('assetss/plugins/jquery-migrate-1.2.1.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('assetss/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('assetss/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('assetss/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('assetss/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('assetss/plugins/jquery.cokie.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('assetss/plugins/uniform/jquery.uniform.min.js')}}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset('assetss/plugins/jquery-validation/dist/jquery.validate.min.js')}}" type="text/javascript"></script>
<script src="{{ asset('assetss/plugins/backstretch/jquery.backstretch.min.js')}}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('assetss/plugins/select2/select2.min.js')}}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset('assetss/scripts/core/app.js')}}" type="text/javascript"></script>
<script src="{{ asset('assetss/scripts/custom/login-soft.js')}}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        App.init();
        Login.init();
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>

